@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 28px;
    max-width: 1440px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.main-heading {
    color: hsl(150, 100%, 66%);
    margin-bottom: 1em;
    margin-top: -1em;
}
.advice-card {
    background-color: hsl(217, 19%, 24%);
    border-radius: 0.5em;
    padding: 1.2em;
    max-width: 35%;
    display: flex;
    flex-direction: column;
}
.heading {
    color: hsl(150, 100%, 66%);
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 1.2em;
}
.advice-text {
    color: hsl(193, 38%, 86%);
    margin-bottom: 1.2em;
    text-align: center;
}
#advice-content {
    opacity: 0;
}
#advice-content.fade {
    opacity: 1;
    transition: all 2s ease;
}
img.divider {
    margin-bottom: 1.2em;
}
.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 1em;
    width: 20px;
    height: 20px;
    margin-top: -30px;
}
.dice:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px hsl(150, 90%, 72%);
    filter: brightness(0.9);
}
.dice.spin {
    transform: rotate(1440deg);
    transition: all 2s ease-out;
}
footer {
    color: hsl(150, 90%, 72%);
    font-size: 16px;
    text-align: center;
    margin-top: 4em;
    text-decoration: underline;
}
footer a{
    color: inherit;
}

/* MEDIA QUERY */
@media (max-width:400px) {
    body {
        max-width: 400px;
    }    
    .main-heading {
        margin-top: 0em;
    }
    .advice-card {
        max-width: 80%;
    }
    .advice-text {
        font-size: 20px;
    }
}
